<!DOCTYPE HTML>
<html>
<head>

  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>

  <div class="container">

    <div class="row">
      <div class="col-md-6" id="primary-content">

      </div>
      <div class="col-md-6">

          <code id="output" style="display:block;white-space:pre-wrap;"></code>
      </div>
    </div>
  </div>

  <!-- THE JAVASCRIPT TEMPLATES -->
  <!-- the form, used for create and edit -->
  <script type="text/jst" id="formTemplate">
    <div class="well">
      <div class="alert alert-danger fade in" style="display:none;"></div>
      <form>

        <div class="form-group">
          <label>Name:</label>
          <input type="text" class="form-control" name="name" value="<%= name %>" />
        </div>
        <div class="form-group">
          <label>SName:</label>
          <input type="text" class="form-control" name="sname" value="<%= sname %>" />
        </div>
       
        <div class="form-group">
          <label>Gender:</label>
           <select name="gender">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
        </div>
      <div class="form-group">
          <label>City:</label>
           <select  name="city">
                        <option value="up">Utter Pradesh</option>
                        <option value="punjob">Punjob</option>
                    </select>
        </div>
        <button class="save btn btn-large btn-info" type="submit">Save</button>
        <a href="#notes/index" class="btn btn-large btn-default">Cancel</a>
      </form>
    </div>
  </script>

  <!-- the index container -->
  <script type="text/template" id="indexTemplate">
    <div class="well">
      <a class="btn btn-block btn-large btn-info" href="#note/new">Add New</a>
    </div>

    <% if (_.isEmpty(notes)){ %>
      <div class="alert alert-warning">
        <p>There are currently no notes. Try creating some.</p>
      </div>
    <% } %>

    <% _.each(notes, function (note) { %>
      <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd><%= note.name %></dd>
        <dt>SName</dt>
        <dd><%= note.sname %></dd>
        <dt>Gender</dt>
        <dd><%= note.gender %></dd>
        <dt>City</dt>
        <dd><%= note.city %></dd>
        <dt>&nbsp;</dt>
        <dd>
          <a class="btn btn-xs btn-info" href="#note/<%= note.id %>/edit">Edit</a>
          <a class="btn btn-xs btn-danger" href="#note/<%= note.id %>/delete">Delete</a>
        </dd>
      </dl>
    <% }); %>

  </script>

  <!-- load the libraries we need -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.6/zepto.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.16/backbone.localStorage-min.js"></script>
  <!-- load our scripts -->
  <script src="js/note_router.js"></script>
  <script src="js/note_model.js"></script>
  <script src="js/views/note_index.js"></script>
  <script src="js/views/note_new.js"></script>
  <script src="js/views/note_edit.js"></script>
  <script src="js/helpers.js"></script>
  <script>
    var app = new APP.NoteRouter();
  </script>

  
</body>
</html>
